<div>
  <div class="card container-h">
    <div class="card-header d-flex">
      <p>Aram</p>
      <button>Detail</button>
    </div>
    <div class="card-body d-flex">
      <figure>
        <img src="../../../../assets/icono_perfil.svg" alt="mvc"/>
        <p>MVC</p>
      </figure>
      <div>
        <p>KDA</p>
        <p>4/15/20</p>
      </div>
      <div>
        <p>Daño</p>
        <p>160.00k</p>
      </div>
      <p>60% P. Kills</p>
    </div>
    <div class="card-footer">
      <p>3 de octubre 2023</p>
    </div>
    </div>
  </div>

