.container-h {
  max-width: 748px;
  text-align: center;
  font-family: 'Inria Serif', serif;
  color:#fff;
  background: linear-gradient(90deg, #50C00B 0%, #499923 0.01%, rgba(58, 69, 86, 0.00) 100.03%, #3A4556 100.03%);

  .box-mvc {
    text-align: -webkit-center;
    margin: 0px;

    .figure-mvc {
      display: block;
      font-size: 10px;
      margin-top: 5px;
      background-color: #50C00B;
      color: #188B15;
      border-radius: 15px;
      width: 35px;
    }

    img {
      border: 3px solid #04E000;
      background-color: #04E000;
      border-radius: 40px;
      width: 50px;
    }
  }

  .card-body{
    padding: 0px 0px 0px 5px;
  }

  strong {
    font-size: 13px;
    display: block;
    padding-bottom: 10px;
  }

  p {
    font-size: 13px;
    margin: 0px;
  }

  button {
    font-size: 15px;
    font-size: 10px;
    color: #fff;
  }

  .info {
    padding: 0rem 2rem;
  }

  .footer {
    text-align: end;
  }
}
