@import './../../themes/variables';

.title_LolHistory {
  font-size: 30px;
  font-weight: 800;
  color: $bg-text;
  text-decoration: none;
}

button {
  color: #673AB7;
  font-weight: 700;
  margin: 10px;
  background: $text-focus;
  font-size: 18px;
}

input {
  background-color: $bg-body;
  color: $text-focus;
  border: none;
  margin: 10px;
  padding: 7.5px 7.5px 7.5px 40px;
  border-bottom: 2px solid $bg-transparent;
  font-size: 18px;
  font-weight: 500;
}

input::placeholder {
  color: $bg-text;
  font-size: 13px;
}

input:focus {
  color: $text-focus;
}

button:hover {
  color: #fff;
  background-color: #3A4556 !important;
}

.box-share-player {
  padding-left: 60px;
}

.group-input {
  position: relative;
}

.icono {
  position: absolute;
  left: 20px;
  margin-top: 22px;
  color: $bg-text;
}
