<header class="d-flex align-items-center justify-content-between">
  <div class="d-flex">
    <img src="../../../../assets/icono.svg" />
    <h1 class="title_LolHistory">LolHistory</h1>
  </div>
  <div class="d-flex">
    <button class="btn">Crear build</button>
    <div class="d-flex justify-content-between align-content-center box-share-player">
      <div class="group-input">
        <input placeholder="Nick" />
        <i class="fa-solid fa-magnifying-glass icono" style="color: aliceblue;"></i>
      </div>
      <button class="btn">Buscar</button>
    </div>
  </div>
</header>
