.title_LolHistory {
  font-size: 30px;
  color: #fff;
  font-family: 'Inria Serif', serif;
}

button {
  font-family: 'Inria Serif', serif;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  background: #215363;
}
