$gradiente : linear-gradient(#615ba2, #000000);

$gris-morado: #3A4556;

$bg-body: #140e30;

$verde: #0096888f;

$bg-transparent: #56569742;

$red: #B7253F;

$gree-light : #50C00B;

$bg-text: #ffffff85;

$text-focus: #f2bf43
