<div *ngIf="textStatus" class="container_error">
  <div class="_error">
    <h1 class="title_error">Ups!.. player not found</h1>
  </div>
</div>
<div *ngIf="!textStatus">

  <body class="container">
    <main class="d-flex justify-content-center mt-5">
      <app-profile></app-profile>
      <div *ngIf="namePlayer">
        <section class="box-games">
          <h1>Recent games</h1>
          <app-game-history [namePlayer]="namePlayer"></app-game-history>
        </section>
      </div>
    </main>
  </body>
</div>
