@import './../../../share/themes/variables';

.card-body_img {
  border-radius: 50%;
  width: 144px;
  height: 136px;
  border: 3px solid  #E0CA00;
}

h1 {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card_body {
  background: $gradiente;
  color: #FFF;
  font-family: 'Inria Serif', serif;
  text-align: center;

  h2 {
    font-size: 23px;
  }

  p {
    font-size: 15px;
    margin: 0px;
  }

  small {
    margin: 0px;
    text-align: center;
  }
  .card-body_section {
    margin-bottom: 54px;
  }

}
