<div class="d-flex align-items-center">
  <img src="../../../../assets/icono.svg" />
  <h1>LolHistory</h1>
</div>

<div class="container">
  <div class="card card_body" style="width: 18rem;">
    <div class="card-body">
      <section>
        <figure class="d-flex align-items-center justify-content-center">
          <img class="card-body_img" src="../../../../assets/icono_perfil.svg" alt="icono_perfil" />
        </figure>
        <h2 class="card-body_title">GatitaRosh (LAN)</h2>
        <p class="card-body_level" style="color: aliceblue;">Nivel 1180</p>
      </section>
      <section class="card-body_section">
        <article class="card-body_section__renked">
          <div class="d-flex align-items-center justify-content-center">
            <img src="../../../../assets/icono_ranked_solo.svg" alt="image_soloduo"/>
            <section class="card-body_section_ranked__info">
              <b>Ranked Solo Duo</b>
              <p>Silver 2</p>
              <p>5L - 5W</p>
              <p>50% de victoria</p>
            </section>
          </div>
        </article>
        <article class="card-body_section__renked">
          <div class="d-flex align-items-center justify-content-center">
            <img src="../../../../assets/icono_ranked_solo.svg" alt="image_soloduo"/>
            <section class="card-body_section_ranked__info">
              <b>Ranked Solo Duo</b>
              <p>Silver 2</p>
              <p>5L - 5W</p>
              <p>50% de victoria</p>
            </section>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>
