.card-body_section__renked {
  margin-top: 27px;
}

.card-body_section_ranked__info {
  margin-left: 17px;

  b {
    font-size: 15px;
    padding-bottom: 6px;
  }
}

p {
  font-size: 15px;
  margin: 0px;
  text-transform: lowercase;
}

span {
  text-transform: capitalize;
}

.tier-img {
  width: 50px;
}
