<section class="card-body_section">
  <div *ngFor="let league of leaguePlayer">
    <article class="card-body_section__renked">
      <div class="d-flex align-items-center justify-content-center">
        <img class="tier-img" src="../../../../assets/emblems/{{league.tier}}.png" alt="image_soloduo" />
        <section class="card-body_section_ranked__info">
          <p>{{league.queueType | queueType }}</p>
          <p class="ranked-tier">{{league.tier }} {{league.rank }}<span class="ranked-pl"> · {{league.leaguePoints}} pl </span></p>
          <p style="padding-bottom: 12px;">{{league.wins}}W - {{league.losses}}L</p>
          <app-progress [porcentageWins]="league.winningP * 100"></app-progress>
          <p style="padding-top: 8px;">{{league.winningP | percent }} de victoria</p>
        </section>
      </div>
    </article>
  </div>
</section>
